<div class="container-fluid" *ngIf="ready">
  <div class="row ">
    <div class="col-md-6 content">
      <div class="task-header">
        <div class="row">
          <div class="col-md-6">
            <small>{{project.name}} / {{project.code}}</small>
            <div class="task-title">{{task.title}}</div>
          </div>
          <div class="col-md-6">
            <div *ngIf="itMyTask || isPm()" class="btn-group pull-right" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit task"
                (click)="_editTask(task)"><i class="icon-edit"></i></button>
              <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Add attachments"
                (click)="_openFileModal()"><i class="icon-paper-clip"></i></button>
              <div [ngSwitch]="role" *ngIf="itMyTask">
                <div *ngSwitchCase="'DEVELOPER'">
                  <div [ngSwitch]="task.taskStatus">
                    <button *ngSwitchCase="'OPEN'" class="btn btn btn-primary" (click)="onInProgressClick()">In progress</button>
                    <button *ngSwitchCase="'REOPEN'" class="btn btn btn-primary" (click)="onInProgressClick()">In progress</button>
                    <button *ngSwitchCase="'IN_PROGRESS'" class="btn btn btn-primary" (click)="onReadyForTestClick()">Ready
                      for
                      test</button>
                  </div>
                </div>
                <div *ngSwitchCase="'TESTER'">
                  <div class="btn btn btn-primary" (click)="onClosedClick()">Closed</div>
                  <div class="btn btn btn-primary" (click)="onReopenClick()">Reopen</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row info-row">
        <div class="col-md-6">
          <p class="task-info-header">People</p>
          <hr />
          <div class="row">
            <div class="col-md-4 label">Reoprter:</div>
            <div class="col-md-8">{{task.reporter}}</div>
          </div>
          <div class="row">
            <div class="col-md-4 label">Assignee:</div>
            <div class="col-md-8">{{task.assignee}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <p class="task-info-header">Details</p>
          <hr />
          <div class="row">
            <div class="col-md-4 label">Priority:</div>
            <div class="col-md-8">
              <app-task-priority-view [priority]="task.priority">
              </app-task-priority-view>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 label">Status:</div>
            <div class="col-md-8">
              <app-task-status-view [status]="task.taskStatus">
              </app-task-status-view>
            </div>
          </div>
        </div>
      </div>
      <div class="row info-row">
        <div class="col-md-12">
          <p class="task-info-header">Dates and Times</p>
          <hr/>
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 label">Create:</div>
                <div class="col-md-8">{{task.created | date : 'MMM d, h:mm'}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 label">Update:</div>
                <div class="col-md-8">{{task.updated | date : 'MMM d, h:mm'}}</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 label">Due date:</div>
                <div class="col-md-8">{{task.dueDate | date : 'MMM d, h:mm'}}</div>
              </div>
              <div class="row">
                <div class="col-md-4 label">Estimation:</div>
                <div class="col-md-8">{{task.estimation}} h.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row info-row">
        <div class="col-md-12">
          <p class="task-info-header">Description</p>
          <div class="description">
            {{task.description}}
          </div>
        </div>
      </div>
      <div class="row info-row">
        <div class="col-md-12">
          <p class="task-info-header">Attachments</p>
          <div class="attachments">
            <app-file-list [taskId]="task.id" [projectId]="task.projectId">
            </app-file-list>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 comment">
      <p class="task-info-header">Comments</p>
      <div class="row">
        <div class="col-md-12">
          <app-comments-list [taskId]="task.id">
          </app-comments-list>
          <div class="panel-body">
            <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea form-control" [(ngModel)]="text"></textarea>
            <button class="btn btn-primary pull-right" type="button" (click)="_submitClick()">Share</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>