<div *ngIf="ready" class="test container-fluid pt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <div class="modal-title pull-left">#{{project.code}}</div>
          <div class="buttons pull-right">
            <button *ngIf="isMyProject" type="button" class=" btn " (click)=" _onEditProjectClick()">
              <i class="icon-edit"></i>
            </button>
            <button *ngIf="isMyProject" type="button" class=" btn " (click)=" _onDeleteProjectClick()">
              <i class="icon-trash"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          {{project.summary}}
        </div>
      </div>
      <button class="btn btn-primary m-2" (click)="_openTaskModal()">New Task</button>
      <button class="btn btn-primary m-2">Add user</button>

    </div>
    <div *ngIf="ready" class="col-md-9">
      <tabset>
        <tab heading="Tasks">
          <app-tasks-on-the-project-table [project]="project">
          </app-tasks-on-the-project-table>
        </tab>
        <tab heading="Team">
          <app-users-on-the-project-table [project]="project">
          </app-users-on-the-project-table>
        </tab>
      </tabset>
    </div>
  </div>
</div>