<div *ngIf="ready" class="test container-fluid pt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card mb-2">
        <div class="card-header">
          <div class="modal-title pull-left">#{{project.code}}</div>

        </div>
        <div class="card-body">
          {{project.summary}}
        </div>
        <div *ngIf="isMyProject" class="card-footer text-center">
          <div class="buttons">
            <button type="button" class="btn btn-sm " (click)="_openTaskModal()">
              <i class="icon-plus icon-2x"></i>
            </button>
            <button type="button" class=" btn " (click)=" _onEditProjectClick()">
              <i class="icon-edit icon-2x"></i>
            </button>
            <button type="button" class=" btn " (click)=" _onDeleteProjectClick()">
              <i class="icon-trash icon-2x"></i>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="isMyProject" class="div">
        <input [(ngModel)]="selectedUser" placeholder="Invite user by username" [typeahead]="usersWithoutProject"
          typeaheadOptionField="username" [typeaheadItemTemplate]="customItemTemplate" (typeaheadOnSelect)="typeaheadOnSelect($event)"
          class="form-control">
        <button class="btn btn-sm btn-primary m-2 pull-right" (click)="onInviteClick()">Invite</button>
      </div>


    </div>
    <div *ngIf="ready" class="col-md-9">
      <tabset>
        <tab heading="Tasks">
          <app-tasks-on-the-project-table [project]="project">
          </app-tasks-on-the-project-table>
        </tab>
        <tab heading="Team">
          <app-users-on-the-project-table [project]="project">
          </app-users-on-the-project-table>
        </tab>
      </tabset>
    </div>
  </div>
</div>

<ng-template #customItemTemplate let-model="item" let-index="index">
  <div>{{model.firstName}} {{model.lastName}}</div>
  <small>{{model.role}}</small>
</ng-template>