<div class="table-wrapper">
  <div class="table-title" >
    <div class="row align-items-center mt-10 mb-10">
        <div class="col-sm-7">              
            <input [(ngModel)]="selectedUser"
            [typeahead]="usersWithoutProject"
            typeaheadOptionField="username"
            [typeaheadItemTemplate]="customItemTemplate"
            class="form-control">                             					
        </div> 
        <button type="button" class="btn btn-success btn-sm" (click)="_addUser()">Add to this project</button>               			
    </div>
  </div>
  <table class="table table-hover">
      <thead>
        <tr>
          <td>Id</td>
          <td>Username</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>          
          <td>Role</td> 
        </tr>     
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <td class="align-middle">{{user.id}}</td>
            <td class="align-middle">{{user.username}}</td>
            <td class="align-middle">{{user.firstName}}</td>
            <td class="align-middle">{{user.lastName}}</td>
            <td class="align-middle">{{user.email}}</td>            
            <td class="align-middle">{{user.role}}</td>             
        </tr>
      </tbody>       
  </table>  
</div>
<div class="row">
  <div class="col-xs-12 col-12">
    <pagination
     [itemsPerPage]="pageSize"
     [totalItems]="totalItems"
     [(ngModel)]="currentPage"
     (pageChanged)="pageChanged($event)"
     [maxSize]="5">
    </pagination>
  </div>
</div>

<ng-template #customItemTemplate let-model="item" let-index="index">
  <h5>{{model.firstName}} {{model.lastName}}</h5>
</ng-template>
