<div class="modal-header">
  <h4 class="modal-title pull-left">Create new User</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="newProjectForm">
    <div class="form-group">
      <label>Project Code</label>
      <input class="form-control" formControlName="projectCode" [ngClass]="{'is-invalid': submmited && f.projectCode.errors }"/>
      <div *ngIf="submmited && f.projectCode.errors" class="invalid-feedback">
        <div *ngIf="f.projectCode.errors.required">>>required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Summary</label>
      <textarea class="form-control" formControlName="summary" [ngClass]="{'is-invalid': submmited && f.summary.errors }"></textarea>
      <div *ngIf="submmited && f.summary.errors" class="invalid-feedback">
          <div *ngIf="f.summary.errors.required">>>required</div>
      </div>
    </div>    
  </form>
</div>
<div class="modal-footer">
  <div class="btn btn btn-primary">Save</div>
  <div class="btn btn-danger" (click)="modalRef.hide()">Close</div>
</div>

