<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-7">
          <button type="button" class="btn btn-primary" (click)="_openProjectModal()">New Project</button>             					
      </div>           
    </div>
  </div>
  <table  class="table table-hover table-borderless">
    <thead>
      <tr>
        <td><a (click)="onSortClick('id')">ID <i class="icon-sort"></i></a></td>
        <td><a (click)="onSortClick('code')">Project Code <i class="icon-sort"></i></a></td>        
        <td><a (click)="onSortClick('name')">Name <i class="icon-sort"></i></a></td>
        <td><a (click)="onSortClick('manager')">Manager <i class="icon-sort"></i></a></td>
      </tr>     
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td class="align-middle">{{project.id}}</td>
        <td class="align-middle"><a [routerLink]="['/project-details', project.id]">{{project.code}}</a></td>
        <td class="align-middle">{{project.name}}</td>
        <td class="align-middle">{{project.manager}}</td>    
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <pagination
       class="pagination-sm"
       [itemsPerPage]="pageSize"
       [totalItems]="totalItems"
       [(ngModel)]="currentPage"
       (pageChanged)="pageChanged($event)"
       [maxSize]="5">        
      </pagination>           
    </div>
  </div>
</div>
  
  
  
  
  
  
