<div class="modal-header">
  <h4 class="modal-title pull-left">{{editMode ? "Edit": "Create"}} Task</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="newTaskForm">
    <div class="form-group">
      <label>Title</label>
      <input class="form-control" formControlName="title" />
      <div *ngIf="submmited && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">>>required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description" />
      <div *ngIf="submmited && f.description.errors" class="invalid-feedback">
        <div *ngIf="f.description.errors.required">>>required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Due date</label>
      <input class="form-control" #dpFull="bsDatepicker" bsDatepicker formControlName="dueDate" [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY, h:mm a' }">
      <div *ngIf="submmited && f.dueDate.errors" class="invalid-feedback">
        <div *ngIf="f.dueDate.errors.required">>>required</div>
      </div>
    </div>

    <div class="form-group">
      <label>Estimation(h)</label>
      <input class="form-control" type="number" formControlName="estimation">
      <div *ngIf="submmited && f.estimation.errors" class="invalid-feedback">
        <div *ngIf="f.estimation.errors.required">>>required</div>
      </div>
    </div>   

    <div class="form-group" *ngIf="role">
      <label for="inputState">Priority</label>
      <select class="form-control" formControlName="priority">
        <option value="BLOCKER">Highest</option>
        <option value="CRITICAL">High</option>
        <option value="MAJOR">Medium</option>
        <option value="NORMAL">Low</option>
        <option value="MINOR">Lowset</option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputState">Assignee</label>
      <select class="form-control" formControlName="assignee">
        <option [value]="authService.currentUsername">Me</option>
        <option *ngFor="let user of users" [value]="user.username">{{user.username}}</option>
      </select>
    </div>    
  </form>
</div>

<div class="modal-footer">
  <button class="btn btn btn-primary" [disabled]="newTaskForm.invalid" (click)="onSubmit()">Save</button>
  <button class="btn btn-danger" (click)="onClose()">Close</button>
</div>