<div class="comments">
  <ul class="media-list">
    <li class="media" *ngFor="let comment of comments">
      <div class="media-body">
        <div class="info">
          <span class="text-muted pull-right">
            <small class="text-muted">{{comment.created | date}}</small>
          </span>
          <strong class="text-primary">{{comment.author}}</strong> commented:
        </div>
        <div class="description">
          <p>
            {{comment.description}}
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>