<div *ngIf="tasks.length" class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-7">           
                     					
      </div>             		
    </div>
  </div>
  <table class="table table-hover">
      <thead>
        <tr>
          <td>Project Code</td>
          <td>Task</td>
          <td>Priority</td>
          <td>Status</td>         
          <td>Due Date</td>
          <td>Estimation</td>          
          <td>Title</td>
          <td>Action</td>
        </tr>     
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{task.projectId}}</td>
          <td><a [routerLink]="['/task-details', task.id]">{{task.id}}</a></td>
          <td>{{task.priority}}</td>
          <td>{{task.taskStatus}}</td>
          <td>{{task.dueDate | date:'MM/dd/yy'}}</td>
          <td>8h</td>
          <td>{{task.title}}</td>
          <td>
            <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
          </td>
        </tr>       
      </tbody>
  </table>
  <div class="row">
      <div class="col-xs-12 col-12">
        <pagination
         [itemsPerPage]="pageSize"
         [totalItems]="totalItems"
         [(ngModel)]="currentPage"
         (pageChanged)="pageChanged($event)"
         [maxSize]="5">
        </pagination>
      </div>
  </div>
</div>







