.table-wrapper{
    
    background: #fff;    
    margin: 10px 0;
    border-radius: px;
    
    .table-title{
        .btn{
            margin-right: 10px;
        }
    }

    table{
        font-size: 0.8rem;
        td{
            vertical-align: middle;
        }
        td:first-child{
            border-right-style: solid; /* Стиль линии */
            border-right-width: 1px; 
        }
        td:last-child{
            border-left-style: solid; /* Стиль линии */
            border-left-width: 1px; 
        }

       
       
    }
}